:root {
  --main-color: rgb(17, 63, 108);
  --secondary-color: rgb(248, 153, 30);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  direction: rtl;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.centered {
  text-align: center;
  display: block;
  padding-top: 10px;
}
/* Media Queries */
@media (max-width: 767px) {
  body {
    font-size: 10px;
  }
  .form_data {
    border: none !important;
  }
  textarea {
    width: 70%;
  }
  input {
    height: 15px !important;
  }
  .navbar {
    margin-right: 0px;
  }
  #dayAlert,
  #dayAlert1 {
    display: block;
    padding-right: 10px;
  }
  .send_btn {
    margin-top: 1px !important;
    height: fit-content !important;
  }
}
/*  Body */
.form_data {
  padding: 10px;
  box-shadow: 20px 20px 20px 0px #e9e9e9;
  border-radius: 5px;
}
.title {
  text-align: center;
  font-weight: bolder;
  color: var(--main-color);
  margin-top: 5px;
}
.form {
  background-color: #f9f9f9;
  color: var(--main-color);
  border-radius: 10px;
}
label,
.titled {
  font-weight: bold;
}
.down {
  margin-bottom: 5px;
}
.right {
  margin-right: 25px;
}
.row {
  margin: 0px;
  padding: 0;
}
.moved {
  margin-right: 20px;
}
.required::before {
  content: "*";
  color: red;
}
.sized {
  margin-right: 22px;
}
input {
  height: 25px;
}
label,
input,
textarea {
  margin-right: 12px;
  border-radius: 5px;
  border-style: none;
}
textarea:focus,
input:focus {
  outline: none;
}
#dayAlert,
#dayAlert1 {
  color: red;
}
textarea {
  display: block;
  margin-right: 70px;
}
.send_btn {
  background-color: var(--secondary-color);
  margin-bottom: 10px;
  margin-top: -20px;
  color: white;
  width: fit-content;
  height: fit-content;
}
.btn:hover {
  color: var(--main-color);
}
.btn:focus {
  box-shadow: none;
}
